.b09 {
	position: relative;
	padding-top: 110px;
	padding-bottom: 40px;
	background: url("../img/bg_pattern01.jpg");

	.top-title {
		background: url("../img/title-line.png") 50% 100% no-repeat;
	}


	h2 {
		color: #000;
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 80px;
	}
}